//colors 
$primary-color: #5500ef;

$headings-color: #0c0b0d;
$paragraphs-color: #807c86;
$light-text: #fff;
$danger-color: #fc1e94;
$hero-color: #6403ee;
$info-color: #2e90fa;
$warning-color: #ff9a07;
$success-color: #24c64f;


$dark: #151417;


//Fonts
$headings-font: 'AbrilText', sans-serif;
$paragraphs-font: 'Roboto Slab', serif;


// Point at which the navbar becomes uncollapsed
$grid-float-breakpoint: 993px;



